#ia {
    overflow: hidden !important;
}

.ia-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction: column;
    font-family: Poppins;
}

iframe {
    width: 80%;
    height: 600px;
    border: none;
    border-radius: 25px;
}
