* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Dongle";
    src: url(./assets/fonts/Dongle-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

:root {
    --primary-color: black;
    --navbar-color: black;
    --background : #abd1c6;
    --card : #555555;
    --text_card: #fffffe;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10px;
}
a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    position: relative;
    cursor: pointer;
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li {
    list-style-type: none;
}

.animated-svg {
    will-change: transform;
}

::-webkit-scrollbar {
	width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 20%, 0.6);
}

::-webkit-scrollbar-thumb:hover {
	background: hsla(0, 0%, 20%, 0.8);
}