.footer-content{
    display: flex;
    justify-content: space-around;
    background: rgba(171, 209, 198, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(0.8px);
    width: 100%;
    margin-top: 100px;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
}